:root {
  --cards-border-radius: 5px;
}

.post-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  border-radius: var(--cards-border-radius);
  padding: 20px;
  gap: 10px;

  @media (width >= 600px) {
    height: 100%;
    gap: 20px;
  }
}

.post-card__title {
  min-height: 60px;
}

.post-card__image {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: var(--cards-border-radius);
}

.post-card__content {
  padding: 10px;
  text-align: start;
  min-height: 120px;
}

.post-card__info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
