.page-not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.page-not-found__title {
  font-size: 1.8rem;
  @media (width >= 680px) {
    font-size: 2rem;
  }
}

.page-not-found__image {
  border-radius: 5px;
}
